# Backend DB path inside the container
DB_PATH=/data/schedules.db

# JWT configuration
JWT_SECRET_KEY=b9084752fa83984cfb395d820847ca081d77a83d782f9d8a39e8d645eef6b52a

# Administrative User Credentials
ADMIN_USER=admin
ADMIN_PASSWORD_HASH=$2b$12$EixZaYVK1YiYi1F.2B6y5.2Eui7.HnJj781p3u3Qv.vV1P14v5eP.

# CORS Allowed Origins (comma-separated list, e.g., http://localhost:5173,http://localhost:3000)
ALLOWED_ORIGINS=
